body {
  margin: 0;
  overflow: auto;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.logo-container {
  position: relative;
}

.logo {
  max-width: 225px;
  margin-bottom: 35px;
  transform: scale(1.27);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.background-image {
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin-top: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  transform: scale(2.5);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.button-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 25px;
}

.button {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Kanit', sans-serif;
  color: white;
  background-color: #20784F;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  transform: scale(1.2);
}

.button:hover {
  background-color: #1F543C;
}